<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
<!-- Facebook Pixel Code -->
<script>
    !function (f, b, e, v, n, t, s) {
        if (f.fbq) return; n = f.fbq = function () {
            n.callMethod ?
            n.callMethod.apply(n, arguments) : n.queue.push(arguments)
        };
        if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
        n.queue = []; t = b.createElement(e); t.async = !0;
        t.src = v; s = b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
        'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '370816770103563');
    fbq('track', 'PageView');
</script>
<noscript>
    <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=370816770103563&ev=PageView&noscript=1"
    />
</noscript>
<!-- End Facebook Pixel Code -->

<!-- Facebook Converstion Tracking -->
<script type="text/javascript">
    $('#dummyButton').click(function () {
        // insert_event_code_here;
        fbq('track', 'Purchase', { value: '00.00', currency: 'AUD' });
    });

    $('#opt1Button').click(function () {
        // insert_event_code_here;
        fbq('track', 'Purchase', { value: '10.00', currency: 'AUD' });
    });

    $('#opt2Button').click(function () {
        // insert_event_code_here;
        console.log("hello");
        fbq('track', 'Purchase', { value: '18.00', currency: 'AUD' });
    });
</script>

<script src="{{ "js/jquery-panelslider/jquery.panelslider.min.js" | absURL }}"></script>
{{- if .Site.IsServer -}}
{{- $jsUrl := printf "js/%s" (index .Site.Data.assetHashes "fresh.js") | absURL }}
<script src="{{ $jsUrl }}"></script>
{{- else }}
<script src="{{ "js/fresh.js" | absURL }}"></script>
{{- end -}}
